@import url('./rainbow.css');

:root {
  --tab-nav-bg-color: #c3def3 !important;
}

.mdContent > div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.mdContent > div > * {
  flex-shrink: 0;
}
.mdContent > div > h1,
.mdContent > div > h2,
.mdContent > div > h3,
.mdContent > div > h4 {
  color: #0366d6;
}

.mdContent > div > h1::before {
  content: '🐲';
}

.mdContent > div > h2::before {
  content: '🦄';
}

.mdContent > div > h3::before {
  content: '🐳';
}

.mdContent > div > h4::before {
  content: '🦋';
}

/* 图片 */

.mdContent > div > p > img {
  box-shadow: 0 0 5px #8883;
  border-radius: 5px;
}

.mdContent > div > p > img:only-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 代码块 */
.mdContent > div .code-block {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background: #282c34;
}
.mdContent > div .code-block-lang {
  position: absolute;
  left: 16px;
  top: 0px;
  line-height: 35px;
  color: #ccc;
}
.code-block-headless .code-block-lang {
  display: none;
}
.code-block-copy {
  position: absolute;
  right: 16px;
  top: 2px;
  background: url('../images/copy.png') 0/100% 100% no-repeat;
  height: 16px;
  width: 16px;
  border: 8px solid #0000;
  border-left-width: 10px;
  border-right-width: 10px;
  box-sizing: content-box;
  cursor: pointer;
  border-radius: 6px;
}
.code-block-headless .code-block-copy {
  top: 9px;
}
.code-block-copied {
  background-color: #15181d;
}
.code-block-copied::after {
  content: '😘';
  position: absolute;
  right: 200%;
  top: -8px;
  line-height: 14px;
  height: 16px;
  background: #15181d;
  border: inherit;
  border-radius: inherit;
}
.code-block-copy:hover {
  background-color: #15181d;
}
.code-block-content {
  border-top: 35px solid #2e3641;
}
.code-block-headless .code-block-content {
  border-top: none;
}
/* .mdContent> div > div[class*='language-']:before {
  content: attr(data-title);
  display: block !important;
  position: absolute;
  left: 0;
  bottom: calc(100% - 10px);
  width: 100%;
  background: #2a303a;
  color: #ccc;
  padding: 5px 15px 15px 15px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  z-index: -1;
  line-height: 25px;
} */

/* .mdContent> div > div[class*='language-'] > .vp-copy-code-button {
  display: block;
  opacity: 1;
  position: absolute;
  top: -31px;
  right: 10px;
  height: auto;
  padding: 0;
  width: auto;
  opacity: 0;
  transition: 0s;
} */
/* 
.mdContent> div > div[class*='language-']:hover > .vp-copy-code-button {
  opacity: 1;
}

.mdContent> div > div[class*='language-'] > .vp-copy-code-button.copied::after {
  height: auto;
  padding: 5px 10px;
}

.mdContent> div .vp-copy-icon {
  margin: auto;
  padding: 15px 20px;
  line-height: 1em;
} */

.mdContent > div > blockquote > blockquote:only-child {
  padding: 1em;
  background: rgb(227, 181, 181);
  border-left: 0.5em solid rgb(199, 39, 39);
  margin: -10px -20px -10px -24px;
  color: #333;
}

.mdContent > div p.hint-container-title {
  margin-bottom: 0px;
}

.mdContent > div li > strong,
.mdContent > div p > strong {
  color: #0366d6;
}

.mdContent > div .mermaid-actions {
  height: 0;
  margin-bottom: -20px;
  z-index: 1;
}

.mdContent > div .mermaid-color1 > rect {
  fill: #f38181 !important;
  stroke: #e4aeae !important;
}

.mdContent > div > table > thead > tr > th {
  white-space: nowrap;
}

/* .mdContent> div > [class*='language-'][data-title='hidden'] {
  margin-top: 0;
}
.mdContent> div > [class*='language-'][data-title='hidden'] > .vp-copy-code-button {
  top: 10px;
}
.mdContent> div > [class*='language-'][data-title='hidden'] > pre {
  padding-right: 60px;
}
.mdContent> div > [class*='language-'][data-title='hidden']::before {
  content: none;
} */
