@import url('./rainbow.css');

:root {
  --tab-nav-bg-color: #c3def3 !important;
}

p.hint-container-title {
  margin-bottom: 0px;
}

p > strong {
  font-weight: 900;
  color: #0366d6;
}

.mermaid-actions {
  height: 0;
  margin-bottom: -20px;
  z-index: 1;
}
