* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#9a88, #e9a8);
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 2px solid #aa8;
  border-radius: 10px;
  display: grid;
  grid: repeat(2 ,150px) / repeat(2 ,150px);
  gap: 10px;
}

.item {
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 10px;
  font-size: 0;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}

.item.active {
  font-size: 60px;
}

.item.ok {
  pointer-events: none;
  background-color: #8ae;
}
